body {
  background-color: lightblue;
  font-family: sans-serif;
}

h1 {
  color: navy;
  text-align: center;
}
.card {
  background-color: white;
  padding: 20px;
  max-width: 400px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.card img {
  width: 100%;
  border-radius: 10px;
}
.btn {
  display: inline-block;
  background-color: navy;
  color: white;
  text-decoration: none; /* Removes the underline */
  padding: 10px 20px;    /* Adds space inside the button */
  border-radius: 5px;    /* Rounds the corners */
  margin-top: 15px;
}

/* This changes the color when you hover over it! */
.btn:hover {
  background-color: black;
}
.footer {
  text-align: center;
  margin-top: 40px; /* specific space above the button */
}
