body {
  background-color: lightblue;
  font-family: sans-serif;
}

h1 {
  color: navy;
  text-align: center;
}
.card {
  background-color: white;
  padding: 20px;
  max-width: 400px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
